<nav class="breadcrumb-container" aria-label="Breadcrumb">
  <ol class="breadcrumb-list">
    <li *ngFor="let item of breadcrumbs$ | async; let last = last" class="breadcrumb-item">
      <a [routerLink]="item.url" class="breadcrumb-link">
        <mat-icon *ngIf="item.icon" class="breadcrumb-icon">{{ item.icon }}</mat-icon>
        <span class="breadcrumb-label">{{ item.label }}</span>
      </a>
      <span *ngIf="!last" class="breadcrumb-separator">
        <mat-icon>chevron_right</mat-icon>
      </span>
    </li>
  </ol>
</nav>
