<nav class="breadcrumb-container" aria-label="Breadcrumb">
  <ol class="breadcrumb-list">

    @if (firstItem(); as item) {
      @if (item.url !== '/dashboard' && item.url !== '/') {
        <li class="breadcrumb-item home-anchor">
          <a routerLink="/dashboard" class="breadcrumb-link" [title]="'breadcrumb.homeTitle' | transloco">
            <mat-icon class="breadcrumb-icon">home</mat-icon>
          </a>
          <mat-icon class="breadcrumb-separator">chevron_right</mat-icon>
        </li>
      }
      <li class="breadcrumb-item">
        <a [routerLink]="item.url" class="breadcrumb-link">
          <span class="breadcrumb-label">{{ item.label }}</span>
        </a>
        <mat-icon class="breadcrumb-separator">chevron_right</mat-icon>
      </li>
    }

    @if (needsToCollapse()) {
    <li class="breadcrumb-item">
      <button mat-icon-button [matMenuTriggerFor]="breadcrumbMenu" class="breadcrumb-more">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #breadcrumbMenu="matMenu">
        @for (hidden of hiddenItems(); track hidden.url) {
        <a mat-menu-item [routerLink]="hidden.url">
          @if (hidden.icon) { <mat-icon>{{ hidden.icon }}</mat-icon> }
          <span>{{ hidden.label }}</span>
        </a>
        }
      </mat-menu>
      <mat-icon class="breadcrumb-separator">chevron_right</mat-icon>
    </li>
    } @else {
    @for (item of hiddenItems(); track item.url) {
      <li class="breadcrumb-item">
        <a [routerLink]="item.url" class="breadcrumb-link">{{ item.label }}</a>
        <mat-icon class="breadcrumb-separator">chevron_right</mat-icon>
      </li>
      }
    }

    @if (lastItem(); as item) {
      @if (allBreadcrumbs().length > 1) {
        <li class="breadcrumb-item active" aria-current="page">
          <span class="breadcrumb-label">{{ item.label }}</span>
        </li>
      }
    }

  </ol>
</nav>
