<ng-container *transloco="let t; prefix: 'toolbar.account'">
  <button mat-button [matMenuTriggerFor]="profileMenu" matTooltip="{{ t('title') }}" aria-label="Account menu" class="profile-trigger">
    <div class="avatar-container">
      @if (authService.currentUser()?.avatarUrl) {
      <img [src]="authService.currentUser()?.avatarUrl" alt="{{ t('avatarAltText') }}">
      } @else {
      <div class="initials-fallback">{{ userService.initials() }}</div>
      }
    </div>
    <!-- <span class="user-name mat-body-medium">{{ authService.currentUser()?.name }}</span> -->
    <!-- <mat-icon iconPositionEnd>expand_more</mat-icon> -->
  </button>

  <mat-menu #profileMenu="matMenu" class="modern-profile-menu">
    <div class="menu-header" (click)="$event.stopPropagation()">
      <div class="header-info">
        <span class="mat-title-small">{{ authService.currentUser()?.name }}</span>
        <span class="mat-body-small opacity-70">{{ authService.currentUser()?.email }}</span>
      </div>
      <span class="role-badge" [attr.data-role]="authService.currentUser()?.role">
        {{ authService.currentUser()?.role }}
      </span>
    </div>

    <mat-divider></mat-divider>

    <button mat-menu-item routerLink="/profile">
      <mat-icon>person_outline</mat-icon>
      <span>{{ t('myProfile') }}</span>
    </button>

    <button mat-menu-item routerLink="/account-settings">
      <mat-icon>settings_outline</mat-icon>
      <span>{{ t('accountSettings') }}</span>
    </button>

    <button mat-menu-item routerLink="/security-privacy">
      <mat-icon>shield_outline</mat-icon>
      <span>{{ t('securityPrivacy') }}</span>
    </button>

    <button mat-menu-item routerLink="/account-feedback">
      <mat-icon>feedback</mat-icon>
      <span>{{ t('feedback') }}</span>
    </button>

    @if (authService.currentUser()?.role === 'Admin') {
    <mat-divider></mat-divider>

    <button mat-menu-item routerLink="/admin/settings">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>{{ t('admDashboard') }}</span>
    </button>
    }

    <mat-divider></mat-divider>

    <button mat-menu-item class="logout-item" (click)="logout()">
      <mat-icon color="error">logout</mat-icon>
      <span class="text-error">{{ t('logout') }}</span>
    </button>
  </mat-menu>
</ng-container>
