<button mat-button [matMenuTriggerFor]="profileMenu" matTooltip="Account menu" aria-label="Account menu" class="profile-trigger">
  <div class="avatar-container">
    @if (userService.currentUser()?.avatarUrl) {
    <img [src]="userService.currentUser()?.avatarUrl" alt="User Avatar">
    } @else {
    <div class="initials-fallback">{{ userService.initials() }}</div>
    }
  </div>
  <!-- <span class="user-name mat-body-medium">{{ userService.currentUser()?.name }}</span> -->
  <!-- <mat-icon iconPositionEnd>expand_more</mat-icon> -->
</button>

<mat-menu #profileMenu="matMenu" class="modern-profile-menu">
  <div class="menu-header" (click)="$event.stopPropagation()">
    <div class="header-info">
      <span class="mat-title-small">{{ userService.currentUser()?.name }}</span>
      <span class="mat-body-small opacity-70">{{ userService.currentUser()?.email }}</span>
    </div>
    <span class="role-badge">{{ userService.currentUser()?.role }}</span>
  </div>

  <mat-divider></mat-divider>

  <button mat-menu-item routerLink="/profile">
    <mat-icon>person_outline</mat-icon>
    <span>My Profile</span>
  </button>

  <button mat-menu-item routerLink="account-settings">
    <mat-icon>settings_outline</mat-icon>
    <span>Account Settings</span>
  </button>

  <button mat-menu-item>
    <mat-icon>shield_outline</mat-icon>
    <span>Security & Privacy</span>
  </button>

  <button mat-menu-item>
    <mat-icon>feedback</mat-icon>
    <span>Feedback</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item class="logout-item" (click)="userService.logout()">
    <mat-icon color="error">logout</mat-icon>
    <span class="text-error">Sign Out</span>
  </button>
</mat-menu>
