<!-- Translation Button with flag icons for English, Spanish and Brazilian Portuguese -->
<button mat-icon-button [matMenuTriggerFor]="translationMenu" matTooltip="Switch language"
  aria-label="Translation menu">
  <mat-icon>language</mat-icon>
</button>

<mat-menu #translationMenu="matMenu">
  <button mat-menu-item class="language-selector-item">
    <span class="flag flag--us" title="English"></span>
    <span>English</span>
  </button>
  <button mat-menu-item class="language-selector-item">
    <span class="flag flag--es" title="Español"></span>
    <span>Spanish</span>
  </button>
  <button mat-menu-item class="language-selector-item">
    <span class="flag flag--br" title="Português (Brasil)"></span>
    <span>Portuguese</span>
  </button>
</mat-menu>
