<button
  mat-icon-button
  [matMenuTriggerFor]="translationMenu"
  matTooltip="{{ 'toolbar.language.title' | transloco }}"
  aria-label="Translation menu"
>
  <mat-icon>language</mat-icon>
</button>

<mat-menu #translationMenu="matMenu" class="language-menu">
  @for (lang of languageService.languages; track lang.code) {
  <button mat-menu-item class="language-selector-item" (click)="languageService.setLanguage(lang.code)">
    <span class="flag" [class]="lang.flagClass" [title]="lang.label | transloco"></span>
    <span [class.active-lang]="languageService.currentLanguage() === lang.code">
      {{ lang.label | transloco }}
    </span>
    @if (languageService.currentLanguage() === lang.code) {
    <mat-icon class="check-icon">check</mat-icon>
    }
  </button>
  }
</mat-menu>
