<div class="sidenav-header">
  <img [width]="profilePicSize()" [height]="profilePicSize()"
    [src]="authService.currentUser()?.avatarUrl || '/assets/images/default-avatar.png'" alt="Profile"
    class="profile-image">

  <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
    <h2>{{ authService.currentUser()?.name || 'Loading...' }}</h2>
    <p>{{ authService.currentUser()?.role }}</p>
  </div>
</div>

<mat-nav-list>
  @for (item of items(); track item.route) {
    <app-menu-item [item]="item" [collapsed]="sideNavCollapsed()" />
  } @empty {
    <!-- This block is displayed when no menu items are available.
     It's important when you have dynamic menu items because a message can be displayed to the user. -->
    <a mat-list-item title="No menu items found!">
        <mat-icon matListItemIcon>block</mat-icon>
        <span matListItemTitle>No menu items found!</span>
    </a>
  }
</mat-nav-list>
