:host * {
  transition: all 500ms ease-in-out;
}

.menu-item {
  border-left: 5px solid;
  border-left-color: rgba(0, 0, 0, 0);
  border-radius: 0px !important;

  &.logout {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.12);

    mat-icon {
      color: var(--mat-sys-primary);
    }
  }
}

.selected-menu-item {
  border-left-color: var(--mat-sys-primary) !important;
  background: rgba(0, 0, 0, 0.05) !important;

  mat-icon {
    color: var(--mat-sys-primary) !important;
  }
}

.sub-menu {
  display: grid;

  > div {
    overflow: hidden;
  }
}

.expand-animation {
  animation: expand-in 500ms ease-in-out;
}

.contract-animation {
  animation: expand-in 500ms ease-in-out reverse;
}

@keyframes expand-in {
  from {
    opacity: 0;
    grid-template-rows: 0fr;
  }

  to {
    opacity: 1;
    grid-template-rows: 1fr;
  }
}
