<div class="sidenav-container-shell" [class.is-collapsed]="sideNavCollapsed()">
  <div class="sidenav-header">
    <div class="avatar-transform-box">
      <img [width]="profilePicSize" [height]="profilePicSize"
        [src]="authService.currentUser()?.avatarUrl || '/assets/images/default-avatar.png'"
        alt="{{ 'toolbar.account.avatarAltText' | transloco }}" class="profile-image">
    </div>

    <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
      <h2>{{ authService.currentUser()?.name || 'messages.loading' | transloco }}</h2>
      <p>{{ authService.currentUser()?.role }}</p>
    </div>
  </div>

  <div class="sidenav-scroll-body">
    <mat-nav-list class="premium-nav-list">
      @for (item of items(); track item.route) {
        @if (item.class !== 'logout') {
          <app-menu-item [item]="item" [collapsed]="sideNavCollapsed()" />
        }
      } @empty {
      <a mat-list-item title="No menu items found!">
        <mat-icon matListItemIcon>block</mat-icon>
        <span matListItemTitle>{{ 'menu.noMenuItemsFound' | transloco }}</span>
      </a>
      }
    </mat-nav-list>
  </div>

  <div class="sidenav-footer">
    @for (item of items(); track item.route) {
      @if (item.class === 'logout') {
        <app-menu-item [item]="item" [collapsed]="sideNavCollapsed()" />
      }
    }
  </div>
</div>
