@use '@angular/material'as mat;

:root {}

.mat-toolbar {
  position: relative;
  z-index: 9 !important;
  box-shadow: var(--mat-sys-level2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  .toolbar-left {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex-shrink: 0;
  }

  .toolbar-center {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
  }

  .toolbar-right {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .branding {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .logo {
    height: 40px;
  }
}

.content {
  padding: 24px;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0px;
}

mat-sidenav, mat-sidenav-content {
  transition: all 500ms ease-in-out;
}
