@if (!item().hidden) {
  <a
    mat-list-item
    class="menu-item"
    [class]="item().class ? item().class : ''"
    [routerLink]="routeHistory() + '/' + item().route"
    (click)="toggleNested()"
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
    [style.--mat-list-list-item-leading-icon-start-space]="identation()"
    [title]="!collapsed() ? (item().label | transloco) : ''"
    [matTooltip]="collapsed() ? (item().label | transloco) : ''"
    matTooltipPosition="right"
    >

    <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>
      {{ item().icon }}
    </mat-icon>

    @if (!collapsed()) {
    <span matListItemTitle>{{ item().label | transloco }}</span>
    } @if(item().subItems) {
      <span matListItemMeta>
        @if(nestedMenuOpen()) {
          <mat-icon>expand_less</mat-icon>
        } @else {
          <mat-icon>expand_more</mat-icon>
        }
      </span>
    }
  </a>
}

<!-- @* Nested menu items *@ -->
@if (nestedMenuOpen()) {
  <div class="sub-menu" animate.enter="expand-animation" animate.leave="contract-animation">
    <div>
      @for (subItem of item().subItems; track subItem.route) {
      <app-menu-item
        [item]="subItem"
        [collapsed]="collapsed()"
        [routeHistory]="routeHistory() + '/' + item().route"
      />
    }
    </div>
  </div>
}
